#inline_section{
    display: inline;
}

#teamSection{
    display: inline;
    margin-bottom: 15px;
}

#team{
    font-size: 60px;
    color: "{self.team_colour}";
}

#win{
    font-size: 20px;
    margin-top: 30px;
    margin-left: 15px;
}

#win_background{
    display: flex;
    width: "{self.win_background_width}";
    height: 27px;
    margin-left: 10px;
    margin-top: 27px;
    color: "{self.win_background_colour}";
}

#hero_img {
    display: inline;
    margin-left: 23px;
    margin-top: 20px;
}

#bckHero{
    margin-bottom: 50px;
    margin-right: 50px;
    display: flex;
    width: 400px;
}

#playerTitle{
    color: rgb(94,186,237);
}

#items{
    display: inline;
    margin-top: 20px;
}
#item_time {
    margin-top: 5px;
    margin-left: 5px;
    font-size: 15px;
}

#data_title{
    color: rgb(145, 172, 180);
}

#KDA{
    margin-left: 75px;
}

#info {
    margin-left: 30px;
    margin-top: 15px;
}

#endinfo{
    margin-top: 5px;
}

#heatmap {
    margin-bottom: 10px;
    width: 164px;
    height: 164px;
}

#creeps {
    display: inline;
    margin-top: 20px;
}

#lane_creeps {
    width: 150px;
    height: 150px;
}
#creep_info{
    margin-left: 50px;
}
#creep_cs{
    margin-left: 20px;
}

#data{
    margin-top: 10px;
    display: inline;
}

#dmg_breakdown{
    margin-left: 30px;
}

#bars{
    margin-left: 10px;
}

#phy_bar{
    margin-left: 10px;
    height: 20px;
    width: "{self.phBarLength}";
    color: rgb(190, 46, 65);
}
#mag_bar{
    margin-left: 10px;
    height: 20px;
    width: "{self.magBarLength}";
    margin-bottom: 10px;
    color:rgb(45, 105, 196);
}
#pure_bar{
    margin-left: 10px;
    height: 20px;
    width: "{self.pureBarLength}";
    margin-bottom: 20px;
    color: rgb(214, 171, 54);
}

#phy_dmg{
    font-size: 18px;
    display: flex;
    margin-bottom: 20px;
    margin-left: 15px;
}
#mag_dmg{
    font-size: 18px;
    display: flex;
    margin-bottom: 10px;
    margin-left: 15px;
}
#pure_dmg{
    font-size: 18px;
    display: flex;
    margin-left: 15px;
}


#phy_title{
    font-size: 20px;
    color: rgb(145, 172, 180);
}
#mag_title{
    font-size: 20px;
    color: rgb(145, 172, 180);
    margin-top: 10px;
}

#pure_title{
    font-size: 20px;
    color: rgb(145, 172, 180);
    margin-top: 20px;
}

